
<h4 class="page-header">更改密码：</h4>



<form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputTitle" class="col-sm-2 control-label">旧密码：</label>
      <div class="col-sm-10">
        <input ng-model="oldword" type="password" class="form-control" id="oldword" placeholder="旧密码：">
      </div>
    </div>

    <div class="form-group">
      <label for="inputTitle" class="col-sm-2 control-label">新密码：</label>
      <div class="col-sm-10">
        <input ng-model="newword" type="password" class="form-control" id="newword" placeholder="新密码：">
      </div>
    </div>

    <div class="form-group">
      <label for="inputTitle" class="col-sm-2 control-label">确认密码：</label>
      <div class="col-sm-10">
        <input ng-model="confirmword" type="password" class="form-control" id="confirmword" placeholder="确认密码：">
      </div>
    </div>
    <p> &nbsp;
    <span ng-show="confirmword != newword" class="label label-danger" >  两次密码不一致。  </span>
    </p>
    <button type="button" ng-click="saveWord()" class="btn btn-primary">保存</button>


</form>

