<div ng-controller="ctrlAdminListUser">
  <br>

  <h4 class="sub-header">
    用户管理
    <span style="font-size: 0.5em;">
      <button ng-click="addRecord()" type="button" class="btn btn-info btn-xs">增加</button>
    </span>
  </h4>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th width="300px;">用户名</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
        <tr  ng-repeat='ctListItem in contentList' >
          <td>{{$index + 1}}</td>
          <td><a href="" > {{ctListItem.username}} </a></td>
          <td> <button ng-click="deleteRec(ctListItem.username)" type="button" class="btn btn-info btn-xs">删</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <nav>
    <ul class="pagination">
      <li ng-class="contentHasPrior?'good':'disabled'"><a href="#" ng-click="psGetContent(-1)"><i class="glyphicon glyphicon-fast-backward"></i> </a></li>
      <li ng-class="contentHasPrior?'good':'disabled'"><a href="#" ng-click="psGetContent(-2)"><i class="glyphicon glyphicon-chevron-left"></i> </a></li>
      <li><a href="#" class="focus">{{ psContentInfo.pageCurrent }} / {{ psContentInfo.pageTotal }}</a></li>
      <li ng-class="contentHasLast?'good':'disabled'" ><a href="#" ng-click="psGetContent(-3)"><i class="glyphicon glyphicon-chevron-right"></i> </a></li>
      <li ng-class="contentHasLast?'good':'disabled'" ><a href="#" ng-click="psGetContent(-4)"><i class="glyphicon glyphicon-fast-forward"></i> </a></li>
    </ul>
  </nav>




<div class="modal fade" id="userModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">新建用户</h4>
      </div>
      <div class="modal-body">

        <form style="text-align: center;" role="form">
          <div style="display: inline-block;min-width: 250px;">
            <input ng-model="singleRec.username" class="form-control" type="text" name="txtUser"
                   class="form-control"  placeholder="用户名" required >
            <input ng-model="singleRec.pw" class="form-control" id="txtWord" name="txtWord" type="text"
                   placeholder="密码" required />
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button ng-click="saveRecord()"  type="button" class="btn btn-primary"> 保存 </button>
        <button ng-click="closeRec()" type="button" class="btn btn-default"> 关闭 </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


  </div>