
<div class="row " style="height:300px;padding-left:15px">
  <img class="img-responsive block-shadow" src="img/top4.jpg">
</div>

<br>

<div class="row" >
  <div class="col-xs-3">
     <div class="list-group block-shadow">
        <a href="#/sec" class="list-group-item active" style="font-size: 12px;">
          应用解决方案
        </a>
        <a href="#" class="list-group-item"><i class="glyphicon glyphicon-forward primary-color"></i> 行业应用1</a>
        <a href="#" class="list-group-item"><i class="glyphicon glyphicon-forward primary-color"></i> 行业应用2</a>
        <a href="#" class="list-group-item"><i class="glyphicon glyphicon-forward primary-color"></i> 行业应用3</a>
        <a href="#" class="list-group-item"><i class="glyphicon glyphicon-forward primary-color"></i> 行业应用4</a>
     </div>
      <br>
    <div class="panel-group block-shadow" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <a data-toggle="collapse" data-parent="#accordion" href="sec/#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span class="em-primary" style="color:white;font-size: 12px;"> 应用解决方案 </span>
        </a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <img class = "img-responsive" src="img/headshot4.jpg" alt="iphone">
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading" role="tab" id="headingTwo">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="sec/#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <span style="color:white;font-size: 12px;"> 应用解决方案2 </span>
            </a>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            设立国家新兴产业创业投资引导基金，体现了改革的思路，基金正式运行后，更要用市场化的办法来操作！
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-9">
    <ol class="breadcrumb block-shadow">
      <li><a href="#">公司</a></li>
      <li><a href="#">公司情况</a></li>
    </ol>


      <div class="block-border-all" style="min-height:600px; width:100%;padding:20px;">

        <address>
          <strong>魔法学校.</strong><br>
          795 大街, 600号楼 <br>
          山东省, 烟台市 264000<br>
          <abbr title="电话">P:</abbr> (123) 456-7890
        </address>

          <iframe src="http://www.google.cn/maps/embed?pb=!1m14!1m8!1m3!1d12651.154910572879!2d121.25465115669486!3d37.560041123831276!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xaf128d80f40e091b!2z5aSp5Zyw5bm_5Zy6!5e0!3m2!1szh-CN!2scn!4v1418525633301"
                  width="100%" height="400" frameborder="0" style="border:0"> </iframe>
      </div>


  </div>
</div>

<div ui-view></div>