
<div class="row " style="height:300px;padding-left:15px">
  <img class="img-responsive block-shadow" src="img/top1.jpg">
</div>

<br>

<div class="row" >
  <div class="col-xs-3">
     <div class="list-group block-shadow">
        <a href="#/sec" class="list-group-item active" style="font-size: 12px;">
          应用解决方案
        </a>
        <a href="#" class="list-group-item"><i class="glyphicon glyphicon-forward primary-color"></i> 行业应用1</a>
        <a href="#" class="list-group-item"><i class="glyphicon glyphicon-forward primary-color"></i> 行业应用2</a>
        <a href="#" class="list-group-item"><i class="glyphicon glyphicon-forward primary-color"></i> 行业应用3</a>
        <a href="#" class="list-group-item"><i class="glyphicon glyphicon-forward primary-color"></i> 行业应用4</a>
     </div>
      <br>
    <div class="panel-group block-shadow" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <a data-toggle="collapse" data-parent="#accordion" href="sec/#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span class="em-primary" style="color:white;font-size: 12px;"> 应用解决方案 </span>
        </a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <img class = "img-responsive" src="img/headshot4.jpg" alt="iphone">
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading" role="tab" id="headingTwo">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="sec/#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <span style="color:white;font-size: 12px;"> 应用解决方案2 </span>
            </a>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            设立国家新兴产业创业投资引导基金，体现了改革的思路，基金正式运行后，更要用市场化的办法来操作！
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-9">
    <ol class="breadcrumb block-shadow">
      <li><a href="#">公司</a></li>
      <li><a href="#">公司情况</a></li>
    </ol>


      <div class="block-border-all" style="min-height:600px; width:100%;padding:20px;">
          <p> 这是一个单页面记录的内容。里面的内容是超文本记录</p>
          <p>
            百度（Nasdaq：BIDU）是全球最大的中文搜索引擎、最大的中文网站。2000年1月由李彦宏创立于北京中关村，致力于向人们提供“简单，可依赖”的信息获取方式。“百度”二字源于中国宋朝词人辛弃疾的《青玉案·元夕》词句“众里寻他千百度”，象征着百度对中文信息检索技术的执著追求。
            <br><img src="http://t11.baidu.com/it/u=3091876927,4220463602&fm=96">
          </p>
      </div>


  </div>
</div>



<div ui-view></div>