
<div class="row " style="height:300px;padding-left:15px">
  <img class="img-responsive block-shadow" src="img/top2.jpg">
</div>

<br>

<div class="row" >
  <div class="col-xs-3">
     <div class="list-group block-shadow">
        <a href="#/sec" class="list-group-item active" style="font-size: 12px;">
          应用解决方案
        </a>
        <a href="#" class="list-group-item"><i class="glyphicon glyphicon-forward primary-color"></i> 行业应用1</a>
        <a href="#" class="list-group-item"><i class="glyphicon glyphicon-forward primary-color"></i> 行业应用2</a>
        <a href="#" class="list-group-item"><i class="glyphicon glyphicon-forward primary-color"></i> 行业应用3</a>
        <a href="#" class="list-group-item"><i class="glyphicon glyphicon-forward primary-color"></i> 行业应用4</a>
     </div>
      <br>
    <div class="panel-group block-shadow" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <a data-toggle="collapse" data-parent="#accordion" href="sec/#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span class="em-primary" style="color:white;font-size: 12px;"> 应用解决方案 </span>
        </a>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <img class = "img-responsive" src="img/headshot4.jpg" alt="iphone">
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading" role="tab" id="headingTwo">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="sec/#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <span style="color:white;font-size: 12px;"> 应用解决方案2 </span>
            </a>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            设立国家新兴产业创业投资引导基金，体现了改革的思路，基金正式运行后，更要用市场化的办法来操作！
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-9">
    <ol class="breadcrumb block-shadow">
      <li><a href="#">产品库</a></li>
      <li><a href="#">产品1</a></li>
    </ol>
    <div class="block-shadow" style="padding-left:25px;padding-top:5px;">
      <div class="blog-post block-bottom">
        <h4> 奥迪a4 </h4>
        <img src="img/blog1.jpg" class="img-list-left">
        <div class="post-meta">
          <i class="glyphicon glyphicon-time"></i>  2014年8月31日
          &nbsp;<i class="glyphicon glyphicon-camera"></i> 风云
          &nbsp;<i class="glyphicon glyphicon-fullscreen"></i> 风云系列
        </div>
        <p> 大气奔放。豪华版</p>
      </div>
      <div class="blog-post block-bottom">
        <h4> 奥迪a5 </h4>
        <img src="img/blog2.jpg" class="img-list-left">
        <div class="post-meta">
          <i class="glyphicon glyphicon-time"></i> 2014年8月31日
          &nbsp;<i class="glyphicon glyphicon-camera"></i> 风云
          &nbsp;<i class="glyphicon glyphicon-fullscreen"></i> 风云系列
        </div>
        <p> 大气奔放。豪华版</p>
      </div>
      <div class="blog-post">
        <h4> 奥迪a6 </h4>
        <img src="img/blog3.jpg" class="img-list-left">
        <div class="post-meta">
          <i class="glyphicon glyphicon-time"></i> 2014年8月31日
          &nbsp; <i class="glyphicon glyphicon-camera"></i> 风云
          &nbsp;<i class="glyphicon glyphicon-fullscreen"></i> 风云系列
        </div>
        <p> 大气奔放。豪华版</p>
      </div>
      <div class="blog-post">
        <h4> 奥迪a7 </h4>
        <img src="img/blog3.jpg" class="img-list-left">
        <div class="post-meta">
          <i class="glyphicon glyphicon-time"></i> 2014年8月31日
          &nbsp;<i class="glyphicon glyphicon-camera"></i>风云
          &nbsp;<i class="glyphicon glyphicon-fullscreen"></i> 风云系列
        </div>
        <p> 大气奔放。豪华版</p>
      </div>
    </div>
    <div class="block-shadow center-block" style="text-align: center;">
      <nav>
        <ul class="pagination block-shadow" style="margin-top:10px;">
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>



<div ui-view></div>