<!DOCTYPE html>
<html ng-app="blacapp" ng-controller="angIndex">
  <head>
    <meta charset="utf-8">
    <title>黑小巫的通用门户网站</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>



  <div class="container" ng-app="blacapp">
    <div class="row">
      <img src="img/logo.png" alt="logo">
      <div style="float:right; padding-top: 50px;" >
        <a href="acadmin.html" > login </a>
      </div>
    </div>

    <div class="row" style="line-height:40px; height:40px;font-size: 12px;">
    <nav class="navbar navbar-default navbar-static-top nav-background " role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">

            <li class="dropdown nav-item" ng-repeat="ngNav in ngNavList">
              <a ui-sref="ngNav.link" class="dropdown-toggle" data-toggle="dropdown"> {{ ngNav.title }} </a>
                <ul ng-show="ngNav.submenu" class="dropdown-menu nav-menu-color" role="menu">
                  <li ng-repeat="ngNav2 in ngNav.submenu">
                    <a href="#"> {{ ngNav2.title }}</a>
                  </li>
                </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    </div> <!-- nva -->

    <div ui-view class="max-width" style="margin-left: -15px;"></div>

    <div class="row" >
      <footer class="footer-main">
          <div class="col-xs-4 col-xs-offset-4" style="text-align: center;">
            <ul> 网站备案号xxxxxxxxxxxxx </ul>
            <ul> tel: 400-12345678 </ul>
            <button type="button" ng-click="getNav()" class="btn btn-primary">gogogo</button>
            <button type="button" ng-click="getArt()" class="btn btn-primary">here</button>


          </div>
      </footer>
    </div> <!-- row -->
  </div>

  </body>
</html>
<script src="js/jquery11.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/angular13.js"></script>
<script src="js/angular-sanitize.js"></script>
<script src="js/angular-ui-router.js"></script>
<script src="js/angular-md5.js"></script>
<script src="acfile/blac-util.js"></script>
<script src="js/angApp.js"></script>


